In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\jairo\OneDrive - Pontificia Universidad Javeriana\Desktop\PROYECTO_RISK_CREDIT\DATA\vista_modelo_riesgo.csv")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ID_CLIENTE                         307511 non-null  int64
 1   TARGET                             307511 non-null  int64
 2   INGRESO_TOTAL                      307511 non-null  float64
 3   MONTO_SOLICITADO                   307511 non-null  float64
 4   GENERO                             307511 non-null  object
 5   TIENE_CARRO                        307511 non-null  object
 6   TIENE_CASA                         307511 non-null  object
 7   NUM_HIJOS                          307511 non-null  int64
 8   NIVEL_EDUCATIVO                    307511 non-null  object
 9   ESTADO_CIVIL                       307511 non-null  object
 10  TIPO_INGRESO                       307511 non-null  object
 11  OCUPACION                          211120 non-null  object
 12  RATIO_ENTRE_CUOTA_E_INGRESO_TOTAL  307499 non-null  float64
 13  EDAD_YEARS                         307511 non-null  int64
 14  total_prestamos                    307511 non-null  int64
 15  CREDITOS_ACTIVOS_HOY               307511 non-null  int64
 16  PROMEDIO_DEUDA_EXTERNA             263490 non-null  float64
 17  MORA_TOTAL_ACTUAL                  263491 non-null  float64
 18  VECES_QUE_HA_PEDIDO_PRORROGAS      263491 non-null  float64
dtypes: float64(6), int64(6), object(7)
memory usage: 44.6+ MB

In [8]:
print(df["OCUPACION"].unique()) #Cuales son las posibles ocupaciones de las personas

numero_de_ocupaciones = df["OCUPACION"].nunique() #Numero total de ocupaciones posibles

print(f"La cantidad de ocupaciones es {numero_de_ocupaciones}")

['Laborers' 'Core staff' 'Accountants' 'Managers' nan 'Drivers'
 'Sales staff' 'Cleaning staff' 'Cooking staff' 'Private service staff'
 'Medicine staff' 'Security staff' 'High skill tech staff'
 'Waiters/barmen staff' 'Low-skill Laborers' 'Realty agents' 'Secretaries'
 'IT staff' 'HR staff']
La cantidad de ocupaciones es 18

In [9]:
df["OCUPACION"] = df["OCUPACION"].fillna("SIN_OCUPACION")

In [10]:
df["RATIO_ENTRE_CUOTA_E_INGRESO_TOTAL"].isnull().sum()

np.int64(12)

In [11]:
df["RATIO_ENTRE_CUOTA_E_INGRESO_TOTAL"] = df["RATIO_ENTRE_CUOTA_E_INGRESO_TOTAL"].fillna("mean")

In [12]:
df["MORA_TOTAL_ACTUAL"].isnull().sum()

np.int64(44020)

In [13]:
df["PROMEDIO_DEUDA_EXTERNA"].isnull().sum()

np.int64(44021)

In [14]:
df["MORA_TOTAL_ACTUAL"] = df["MORA_TOTAL_ACTUAL"].fillna(0) ##LLenamos con 0 ya que son personas que no tienen deuda externa
df["PROMEDIO_DEUDA_EXTERNA"] = df["PROMEDIO_DEUDA_EXTERNA"].fillna(0) #LLenamos con 0 ya que son personas que no tienen deuda externa
df["VECES_QUE_HA_PEDIDO_PRORROGAS"] = df["VECES_QUE_HA_PEDIDO_PRORROGAS"].fillna(0) #LLenamos con 0 ya que son personas que no tienen registro de haber pedido prorrogas

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 19 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   ID_CLIENTE                         307511 non-null  int64
 1   TARGET                             307511 non-null  int64
 2   INGRESO_TOTAL                      307511 non-null  float64
 3   MONTO_SOLICITADO                   307511 non-null  float64
 4   GENERO                             307511 non-null  object
 5   TIENE_CARRO                        307511 non-null  object
 6   TIENE_CASA                         307511 non-null  object
 7   NUM_HIJOS                          307511 non-null  int64
 8   NIVEL_EDUCATIVO                    307511 non-null  object
 9   ESTADO_CIVIL                       307511 non-null  object
 10  TIPO_INGRESO                       307511 non-null  object
 11  OCUPACION                          307511 non-null  object
 12  RATIO_ENTRE_CUOTA_E_INGRESO_TOTAL  307511 non-null  object
 13  EDAD_YEARS                         307511 non-null  int64
 14  total_prestamos                    307511 non-null  int64
 15  CREDITOS_ACTIVOS_HOY               307511 non-null  int64
 16  PROMEDIO_DEUDA_EXTERNA             307511 non-null  float64
 17  MORA_TOTAL_ACTUAL                  307511 non-null  float64
 18  VECES_QUE_HA_PEDIDO_PRORROGAS      307511 non-null  float64
dtypes: float64(5), int64(6), object(8)
memory usage: 44.6+ MB

In [16]:
df["TARGET"].value_counts(normalize=True)

TARGET
0    0.919271
1    0.080729
Name: proportion, dtype: float64